<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Some website</title>
</head>

<body>
    {{> header}}
    <p>Explicabo cumque qui sit eos voluptatem est nam dolorum. Quibusdam aut et. Nostrum quasi ut fugit ut maxime et
        hic. Suscipit rerum officia perspiciatis quam in. Ut dolores vel facilis fugit exercitationem sed. Et quia modi
        repudiandae libero maiores sint hic.</p>
    {{> footer}}
</body>

</html>